<div class="bg-gray-800 text-white text-center py-20">
  <h1 class="text-5xl font-bold mb-4">Welcome to Ecomm</h1>
  <p class="text-xl mb-8">Your one-stop shop for all your e-commerce needs!</p>
  <%= link_to "Shop Now", root_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
</div>

<div class="flex flex-wrap justify-center mt-8 items-center gap-10">

</div>

<div class="bg-gray-100 py-20 my-10">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Customer Testimonials</h2>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-gray-100 rounded shadow py-4 px-4">
          <p class="text-gray-800 text-base mb-4">
            "I've been shopping on Ecomm for years, and it's always been a fantastic experience!"
          </p>
          <p class="text-gray-500 text-xs">
            - Jane Doe
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-gray-100 rounded shadow py-4 px-4">
          <p class="text-gray-800 text-base mb-4">
            "I've been shopping on Ecomm for years, and it's always been a fantastic experience!"
          </p>
          <p class="text-gray-500 text-xs">
            - Jane Doe
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-gray-100 rounded shadow py-4 px-4">
          <p class="text-gray-800 text-base mb-4">
            "I've been shopping on Ecomm for years, and it's always been a fantastic experience!"
          </p>
          <p class="text-gray-500 text-xs">
            - Jane Doe
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-500 text-white my-10 text-center py-20">
  <h2 class="text-3xl font-bold mb-6">Stay Updated</h2>
  <p class="mb-8">Subscribe to our newsletter for the latest updates and offers.</p>
  <%= form_with url: root_path, method: :post, local: true, class: "flex justify-center" do %>
    <%= email_field_tag :email, nil, placeholder: "Enter your email", class: "p-2 rounded-l text-gray-800" %>
    <%= submit_tag "Subscribe", class: "bg-gray-700 hover:bg-gray-800 cursor-pointer text-white font-bold py-2 px-4 rounded-r" %>
  <% end %>
</div>